.CustomerC {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.CustomerC-div-top{
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 99;
    background-color: #666666;
    color: #ffffff;
    line-height: 50px;
}

.CustomerC-div-top span{
    margin-left: 5%;
    font-size: 22px;
}
.CustomerC-div-top .icon-left-trangle{
    margin-left: 4%;
    font-size: 22px;
}
.CustomerC-div-top .icon-fangdajing{
    float: right;
    margin-right: 8%;
    font-size: 22px;
}

.CustomerC-div-top .icon-jiahaocu{
    float: right;
    margin-right: 4%;
    font-size: 22px;
}
.green{
    color: #3ec455;
}


.CustomerC-div-center1{
    position: absolute;
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    top: 60px;
    bottom: 50px;;


}
.LxKf-FJ{
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 150px;
    z-index: 98;
}




.CustomerC .left-template{
    width: 80%;
    float: right;
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px;
}
.CustomerC .left-template-avatar{
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.CustomerC .left-template-avatar img{
    width: 50px;
    height: 50px;
}


.CustomerC .left-template-content{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.CustomerC .left-template-content p{
    padding:10px;
    border-radius: 10%;
    background-color: rgba(157,236,118,1);
}


.CustomerC .left-template-time{
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: -12px;
    background-color: #f0f0f0;
    color:#ffffff;
    left: 25%;
    font-size: 12px;
}

.CustomerC .right-template{
    width: 80%;
    float: left;
    display: flex;
    align-items: center;
    margin: 20px;
    position: relative;
}
.CustomerC .right-template-avatar{
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.CustomerC .right-template-avatar img{
    width: 50px;
    height: 50px;
}


.CustomerC .right-template-content{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.CustomerC .right-template-content p{
    padding:10px;
    border-radius: 10%;
    background-color: #f0f0f0;
}



.CustomerC .right-template-time{
    height: 16px;
    line-height: 16px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: -12px;
    background-color: #f0f0f0;
    color:#ffffff;
    left: 25%;
    font-size: 12px;
}
































.LxKf-bottom{

    width: 100%;
    position: fixed;
    bottom: 0;
    height: 50px;
    z-index: 99;
    background-color: #ffffff;
    border-top: 1px solid rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
}
.LxKf-bottom-left1 {
    flex: 2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LxKf-bottom .icon-yuyin {
    font-size: 30px;
}
.LxKf-bottom .icon-jianpan {
    font-size: 30px;
}



.LxKf-bottom-left2 {
    flex: 6;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    width: 90%;
    margin: 0 auto;
    height: 40px;
    border-bottom: 1px solid #3ec455;
    font-size: 16px;


}
.LxKf-bottom-left2 p:last-child {
    width: 80%;
    font-size: 20px;
    height: 40px;
    border-radius: 5%;
    border: 1px solid #f0f0f0;
    text-align: center;
    line-height: 40px;
}

.HideBottom {
    display: none;
}


.LxKf-bottom-right1{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.LxKf-bottom-right1 .icon-smiling{
    font-size: 30px;
}


.LxKf-bottom-right2{
    flex: 2;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.emitMessage{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3ec455;
    color: #ffffff;
    font-size: 16px;
}
.LxKf-bottom-right2 p{

}

.LxKf-bottom-right2 .icon-jiahao{
    font-size: 30px;
}


.WXFj {
    width: 100%;
    height: 100%;
}
.WXFj div{
    float: left;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;}

.WXFj div .icon-xiangce1{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}

.WXFj div .icon-xiangji{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;

}
.WXFj div .icon-fujin1{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;

}
.WXFj div .icon-icon-test{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}
.WXFj div .icon-ai01{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}
.WXFj div .icon-solid-person{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}
.WXFj div .icon-favorite{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}
.WXFj div .icon-shipin{
    display: block;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 15%;
    font-size: 26px;
    border: 1px solid rgba(0,0,0,0.3);
    color: rgba(0,0,0,0.6);
    margin-bottom: 5px;
}
.LTTemplate1{
    float: left;
    width: 24px;
    height: 24px;
}

.wxFace .LTTemplate img{
    width: 24px;
    height: 24px;


}















